.navbar-brand {
    font-family: 'Georgia', serif;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #000000;
  }
  .card {
    transition: box-shadow 0.3s; /* Přidáme přechodový efekt */
    height: 350px; /* Nastavíme stejnou výšku pro všechny karty */
    width: 300px
  }

  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 255, 0.5);
}

  .card-img-top {
    max-height: 100%; /* Nastavíme maximální výšku obrázku na 100% výšky karty */
    object-fit: cover; /* Zajistí, že obrázek vyplní celý prostor bez deformace */
  }
  button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Ensure button is on top of other content */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
